/*Universal and applies to everything in html*/
*
{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;   
}

/*background here (it is black)*/
body 
{
    overflow-x: hidden;
    /* place-items: center; */
}

/*Applies to all sections*/
section
{
    padding: 25px;
}

/*
for header
*/

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/*
These two .header::after and .header::before is for the flash
animation of the header when the user hovers over it
*/
.header::after
{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgb(140, 140, 175),
    transparent);
    transition: .5s;
}

.header::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    z-index: -1;
}

/*When user hovers over the header, the flash animation goes
from -100% to 100%*/

.header:hover::after
{
    left: 100%;
}

.logo
{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

/*This @media is for when the logo goes from "Dhruv Tripathi"
to "DT" when it is on a mobile phone*/
@media (max-width: 768px) 
{
    .logo 
    {
        font-size: 0; 
        position: relative; 
    }

    .logo::after 
    {
        content: " DT";
        font-size: 30px;
        position: absolute; 
        left: 100%; 
        top: 50%; 
        transform: translateY(-50%);
    }

    .header 
    {
        height: 70px; 
    }
}

.navbar a
{
    position: relative;
    font-size: 1.15rem;
    padding: 6px 11px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: .1rem;
    transition: .5s;
}

nav a span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid #0ef;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;
}

nav a:hover span
{
    transform: scale(1) translateY(0);
    opacity: 1;
}

nav a:hover
{
    color: #0ef;
}

#check
{
    display: none;
}

.icons
{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px)
{
    .header
    {
        padding: 1.3rem 5%;
    }
}

@media(max-width: 768px)
{
    .icons
    {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon
    {
        display: none;
    }

    .icons #close-icon
    {
        display: none;
    }

    #check:checked~.icons #close-icon
    {
        display: block;
    }

    .navbar
    {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: .5s ease
    }

    #check:checked~.navbar
    {
        height: 13.5rem;
    }

    .navbar a
    {
        display: block;
        font-size: 1.1rem;
        margin: 1.9rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a
    {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.10s * var(--i));
    }
}

/*For header title*/

.header-title
{
    min-height: 80vh;
    /* background-color: rgb(0, 0, 0); */
    background: radial-gradient(ellipse, #0000ff80, #0000ffc2);
    justify-content: center;
    text-align: center;
}

/*Basically what this does is that the first animation
"Hello there... is initially present and then the height of it
changes to 0 and the 2nd animation "My name is..." takes it place.
This was done because I wanted to center the 2nd animation and it
was pushing the 1st animation upward and obscuring the text so
now the 1st div is no longer present and no longer
occupies any space"*/

.greeting-text 
{
    opacity: 1;
    visibility: visible;
    height: 0px; 
    transition: opacity 1s, visibility 0s linear 1s;
}

.greeting-text.fade-out 
{
    opacity: 0;
    visibility: hidden;
    height: 0;
}

/*DO NOT REMOVE... otherwise it will mess up the positioning
of the header on smaller screens*/

@media(max-width: 320px)
{
    .header-title
    {
        padding-top: 100px;
        min-height: 150vh; 
    }
}

/*Has to do with header containers and fade-in and fade-out of it*/

.header-title .text-container
{
    height: 58vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 120px;
}

@media(max-width: 768px) 
{
    nav a span 
    {
        border-bottom: 2px solid #0ef;
        width: 25%;
        left: 37.5%;
    }
}

@keyframes fade-out 
{
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.header-title .text-container .text01 
{
    opacity: 1;
    animation: fade-out 3s forwards;
    animation-delay: 1s;
}

.text02andstyle
{
    padding: 20px;
}

@media(max-width: 320px)
{
    .text02andstyle
    {
        height: 100%;
    }
}

@keyframes fade-in 
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.text02, .text02-style
{
    opacity: 0; 
    animation: fade-in 3s forwards; 
    animation-delay: 4s;
}

.text02-style
{
    font-size: 18px;
    padding-top: 10px;
}

@media(max-width: 455px)
{
    .header-title .text-container
    {
        height: 500px;
    }
} 

@media(max-width: 280px)
{
    .header-title .text-container
    {
        height: 500px;
    }  
}

/*Basically what this does is the animation is animating when the 
user is NOT hovering over it and then animation "stop". Well,
it doesnt' actually stop but the opacity turns to 0 giving it 
the illusion of stopping and the animation resumes after the user lifts
their cursor off the button*/

.header-title .wrapper a,
.typeWriterContainer .projectButton a,
.backButton a
{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #0ef;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    overflow: hidden;
}

.header-title .wrapper a:hover,
.typeWriterContainer .projectButton a:hover,
.backButton a:hover
{
    background-color: #0ef;
    color: #000;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef, 0 0 50px #0ef, 0 0 200px #0ef;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    transition: 1s;
}

.header-title .wrapper a:not(hover),
.typeWriterContainer .projectButton a:not(hover),
.backButton a:not(hover)
{
    transition: 1s;
}

.header-title .wrapper a:hover span:nth-child(1),
.typeWriterContainer .projectButton a:hover span:nth-child(1),
.backButton a:hover span:nth-child(1)
{
    opacity: 0;
    transition: opacity 1s;
}

.header-title .wrapper a:not(:hover) span:nth-child(1),
.typeWriterContainer .projectButton a:not(hover) span:nth-child(1),
.backButton a:not(hover) span:nth-child(1)
{
    opacity: 1;
    transition: opacity 3s; 
}


.header-title .wrapper a span,
.typeWriterContainer .projectButton a span,
.backButton a span
{
    position: absolute;
    display: block;
}

.header-title .wrapper a span:nth-child(1),
.typeWriterContainer .projectButton a span:nth-child(1),
.backButton .wrapper a span:nth-child(1)
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #0ef);
    animation-delay: .5s;
    animation: animate1 1s infinite;
}


@keyframes animate1 
{
    0% 
    {
        left: -100%;
    }
    100% 
    {
        left: 100%;
    }
}

.image
{
    flex-basis: 30%;
    z-index: 2;
    margin-right: 20px;
    border: 2px solid #0a0aac80;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: 1s;
}

.image:hover
{
    transform: scale(1.1);
}

.about 
{
    padding: 60px 0;
    background: radial-gradient(ellipse, #0a0aac80, #0000ffc2);
}

.container {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-left: 25px;
}

.content {
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    flex-basis: 60%;
    padding-left: 20px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 25px;
}

.about-text
{
    text-align: center;
    max-width: 500px;
    margin-right: 30px;
    line-height: 23px;
}

.image {
    z-index: 2;
}

.image img {
    width: 100%;
}

@media(max-width: 900px)
{
    .image
    {
        flex-basis: 100%;
        margin-left: 29px;
    }

    .image img
    {
        width: 50%;
        display: inline;
        margin-top: 20px;
    }

    .row
    {
        justify-content: center;
        text-align: center;
        margin-right: 25px;
    }

    .about-text
    {
        font-size: 16px;
    }
}

/*For the typing text animation*/
.typeWriterContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    overflow: hidden;
}

.textContainer
{
    width: 246px;
    margin-bottom: 20px;
}

.textContainer .text
{
    position: relative;
    color: #0ef;
    font-size: 30px;
    font-weight: 600;
}

.textContainer .text.first-text
{
    font-size: 30px;
    color: #fff;
}

.text.sec-text::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    border-left: 2px solid #0ef;
    animation: animate 4s steps(12) infinite;   
}

@keyframes animate {
    40%, 60%
    {
        left: calc(100% + 4px);
    }
    100%
    {
        left: 0%;
    }
}
/* 
.textContainer .sec-text
{
    font-size: 30px;
} */

@media (max-width: 900px) 
{
    .textContainer .sec-text 
    {
        font-size: 25px;
    }

    .textContainer .text.first-text
    {
        font-size: 25px;
        margin-left: 25px;
    }
}

.projectsText
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 20px;
}

/*For floating box animations*/

.wrapperBox
{
    position: absolute;
    width: 100%;
    height: 87%;
    overflow: hidden;
}

.box div
{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.box div:nth-child(1)
{
    top: 12%;
    left: 42%;
    animation: animate2 10s linear infinite;
}

.box div:nth-child(2)
{
    top: 70%;
    left: 50%;
    animation: animate2 7s linear infinite;
}

.box div:nth-child(3)
{
    top: 17%;
    left: 6%;
    animation: animate2 9s linear infinite;
}

.box div:nth-child(4)
{
    top: 20%;
    left: 60%;
    animation: animate2 10s linear infinite;
}

.box div:nth-child(5)
{
    top: 67%;
    left: 10%;
    animation: animate2 6s linear infinite;
}

.box div:nth-child(6)
{
    top: 80%;
    left: 70%;
    animation: animate2 12s linear infinite;
}

.box div:nth-child(7)
{
    top: 60%;
    left: 80%;
    animation: animate2 15s linear infinite;
}

.box div:nth-child(8)
{
    top: 24%;
    left: 25%;
    animation: animate2 16s linear infinite;
}

.box div:nth-child(9)
{
    top: 88%;
    left: 25%;
    animation: animate2 9s linear infinite;
}

.box div:nth-child(10)
{
    top: 20%;
    left: 80%;
    animation: animate2 5s linear infinite;
}

@keyframes animate2
{
    0%
    {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%
    {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

/*Projects page - second page*/
.wholeContainer
{
    background: radial-gradient(ellipse, #0000ff80, #0000ffc2);
    padding-left: 10px;
}
.container-2
{
    width: 100%;
    /* height: 100vh; */
    padding: 0 8%;
}

.row-2
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.service
{
    display: flex;
    justify-content: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}

.service img
{
    max-width: 200px;
    width: 100%;
    height: 100%;
}

.service:hover
{
    background: rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}


@media(max-width: 280px)
{
    .row-2
    {
        grid-template-columns: repeat(auto-fit, minmax(250px, .5fr));
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

/*END OF ABOVE CODE*/
/*ACM PROJECTS PAGE*/
.acmProjects
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background: radial-gradient(ellipse, #0000ff80, #0000ffc2);
    overflow-x: hidden;
}

.acmProjects .acmProject-container .acmProject-container-title img
{
    max-width: 80px;
    max-height: 80px;
    margin-right: 10px;
    border-radius: 10px;
}

.acmProject-container .acmProject-container-title
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.acmFullName
{
    text-align: center;
}

@media(max-width: 280px)
{
    .acmProjects .acmProject-container .acmProject-container-title img
    {
        flex-basis: 100%;
    }
}

@media(max-width: 768px)
{
    .acmProject-container .acmProject-container-title
    {
        flex-direction: column;
    }

    .acmProjects .acmProject-container .acmProject-container-title img
    {
        margin-right: 0;
    }
    
    .acmTitle
    {
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
        text-align: center;
    }
}

/*ACM projects page description section*/
.acmProjectDescContainer
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.acmProjectDescContentContainer
{
    text-align: center;
    max-width: 500px;
    padding-right: 30px;
}

.acmProjectDescContentContainer h2
{
    margin-left: 30px;
}

.acmProjectDescContentContainerText
{
    margin-left: 30px;
}

.iframe-container 
{
    aspect-ratio: 16 / 9;
    width: 553px;
}

.iframe-container iframe
{
    width: 100%;
    height: 100%;
}

@media(max-width: 768px)
{
    .acmProjectDescContainer
    {
        display: flex;
        justify-content: center;
    }
}

.backButton
{
    overflow-x: hidden;
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*Grid Projects page images*/
.info
{
    background: radial-gradient(ellipse, #0000ff80, #0000ffc2);
    overflow-x: hidden;
}

.info .infoContainer
{
    display: flex;
    justify-content: center;
}

.infoContainerRow
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoImageContainer
{
    display: flex;
    flex-basis: 30%;
}

.infoImageContainer img
{
    width: 100%;
}

.infoContainerText
{
    text-align: center;
    max-width: 500px;
    margin-left: 30px;
}

.infoContainerTextPClass
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    line-height: 25px;
    flex-basis: 60%;
}

@media(max-width: 900px)
{
    .infoContainerRow
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .infoContainerText
    {
        margin-top: 25px;
        margin-left: 0;
    }

    .infoContainerTextPClassContainer
    {
        font-size: 16px;
        padding: 25px;
    }

    .infoImageContainer
    {
        width: 50%;
    }

    .infoContainerText h1
    {
        font-size: 25px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

/*Timeline*/
.timelineContainer
{
    background: radial-gradient(ellipse, #0000ff80, #0000ffc2);
    overflow: hidden;
}

.timeline
{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    z-index: 1;
}

.timelineContainer .timeline .container-4
{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: moveDown 1s linear forwards;
    opacity: 0;
}

@keyframes moveDown
{
    0%
    {
        opacity: 1;
        transform: translateY(-30px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

.timeline .container-4:nth-child(1)
{
    animation-delay: 0s;
}

.timeline .container-4:nth-child(2)
{
    animation-delay: 1s;
}

.timeline .container-4:nth-child(3)
{
    animation-delay: 3s;
}

.timeline .container-4:nth-child(4)
{
    animation-delay: 4s;
}

.timeline .container-4:nth-child(5)
{
    animation-delay: 5s;
}

.text-box-container
{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    line-height: 25px;
    z-index: 10;
}

.left-container
{
    left: 0;
}

.right-container
{
    left: 50%;
}

.container-4 img
{
    position: absolute;
    width: 40px;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img
{
    left: -20px;    
}

.timeline::after
{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0%
    {
        height: 0;
    }
    100%
    {
        height: 100%;
    }
}

.text-box-container h2
{
    font-weight: 600;
}

.text-box-container small
{
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow
{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

.right-container-arrow
{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: -1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}

@media(max-width: 600px)
{
    .timelineContainer .timeline
    {
        margin: 50px auto;
    }

    .timelineContainer .timeline::after
    {
        left: 31px;
    }

    .timelineContainer .timeline .container-4
    {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px
    }

    .timelineContainer .timeline .container-4 .text-box-container
    {
        font-size: 13px;
    }

    .timelineContainer .timeline .container-4 .text-box-container small
    {
        margin-bottom: 10px;
    }

    .right-container
    {
        left: 0;
    }

    .left-container img, .right-container img
    {
        left: 10px;
    }

    .left-container-arrow, .right-container-arrow
    {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}

@media(max-width: 320px)
{
    .timelineContainer .timeline .container-4 .text-box-container
    {
        font-size: 9px;
    }

    .timelineContainer .timeline .container-4 .text-box-container h2
    {
        font-size: 8px;
    }
}
/*END OF TIMELINE PAGE*/
/*Start of ACM PROJECTS Page in detail*/
/* .acmDayCountContainer
{
    background-color: #000;
    border: solid 1px #430d0d;
    max-width: 50%;
} HOW TO DO A LINE*/

.acmDayCountContainer
{
    background-color: #000;
    border: solid 5px #87277a;
    height: 300px;
    width: 500px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.acmDayContainer
{
    display: flex;
    justify-content: center;
}

.acmDayTextContainer
{
    max-width: 550px;
    margin-left: 30px;
    text-align: center;
    align-content: center;
    line-height: 25px;
}

@media(max-width: 768px)
{
    .acmDayContainer
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }   
    
    .acmDayTextContainer
    {
        margin-left: 0;
        margin-top: 20px;
    }

    .acmDayCountContainer
    {
        width: 100%;
    }
}