/*ACM projects page description section*/
.acmProjects
{
    overflow: hidden;
}

.acmProjectDescContainer
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    overflow: hidden;
}

.acmProjectDescContentContainer
{
    text-align: center;
    max-width: 500px;
    padding-right: 30px;
    line-height: 25px;
    padding-bottom: 25px;
}

.acmProjectDescContentContainer h2
{
    margin-left: 30px;
    font-family: "Libre Franklin";
    font-weight: 300;
    color: #fff;
}

.acmProjectDescContentContainerText
{
    margin-left: 30px;
}

.acmProjectDescContentContainerText p 
{
    font-family: "Teachers";
    color: #fff;
}

.iframe-container 
{
    aspect-ratio: 16 / 9;
    width: 553px;
    padding-bottom: 25px;
}

.iframe-container iframe
{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 0.3s ease-in-out;
}

.iframe-container iframe:hover
{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

@media(max-width: 768px)
{
    .acmProjectDescContainer
    {
        display: flex;
        justify-content: center;
    }
}

.acmTime
{
    color: #fff;
    text-decoration: underline;
}

.backButton
{
    overflow-x: hidden;
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*Grid Projects page images*/
.info
{
    background: radial-gradient(ellipse, #0000ff80, #0000ffc2);
    overflow-x: hidden;
}

.info .infoContainer
{
    display: flex;
    justify-content: center;
}

.infoContainerRow
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoImageContainerContainer:hover 
{
    transform: scale(1.1);
}

.infoImageContainer
{
    display: flex;
    flex-basis: 35%;
    z-index: 2;
    margin-right: 20px;
    transition: transform 1s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.infoImageContainer:hover
{
    transform: scale(1.1);
}

.infoImageContainer img
{
    width: 100%;
}

.infoContainerText
{
    text-align: center;
    max-width: 500px;
    margin-left: 30px;
}

.infoContainerText h1
{
    font-family: "Libre Franklin";
    font-weight: 300;
    color: #fff;
}

.infoContainerTextPClass
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    line-height: 25px;
    flex-basis: 60%;
}

.infoContainerTextPClassContainer
{
    font-family: "Teachers";
    color: #fff;
}

@media(max-width: 900px)
{
    .infoContainerRow
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .infoContainerText
    {
        margin-top: 25px;
        margin-left: 0;
    }

    .infoContainerTextPClassContainer
    {
        font-size: 16px;
        padding: 25px;
    }

    .infoImageContainer
    {
        flex-basis: 100%;
        margin-left: 29px;
        width: 50%;
        display: inline;
        margin-top: 20px;
    }

    .infoContainerText h1
    {
        font-size: 25px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

/*For card profile content*/

.appDemoTitle
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    padding-bottom: 50px;
    background: radial-gradient(ellipse, #0000ff80, #0000ffc2);
}

.appDemoTitle .appDemoTitleContainer h2 
{
    font-family: "Teachers";
    font-weight: 100;
    color: #fff;
}

.meetTheTeam
{
    padding-bottom: 25px;
    background: radial-gradient(ellipse, #0000ff80, #0000ffc2);
}

.meetTheTeam .users
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 30px;
}

.user-img img
{
    max-width: 100%;
}

.userCase
{
    width: 250px;
    aspect-ratio: 1 / 1.4;
}

.user
{
    position: relative;
    z-index: 1;
    width: 250px;
    /* height: 350px; */
    aspect-ratio: 1 / 1.4;
    padding: 1rem;
    border-radius: 20px;
    /* background-color: #fff; */
    box-shadow: 0 30px 30px 5px #132c75;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    transition: box-shadow 1s ease;
}

.user:hover
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.user-img-wrap
{
    position: relative;
    width: 117px;
    aspect-ratio: 1;
    padding: 7px;
    border-radius: 100%;
}

/* .user-img-wrap::after
{
    position: absolute;
    z-index: -1;
    content: '';
    inset: 0;
    border-radius: 100%;   
    background: linear-gradient(#4cd964,
    #5ac8fa,
    #007aff,
    #7cd8e8,
    #5856d5,
    #ff2d55);
    opacity: 0;
    transition: opacity 1s;
    animation: rotate 4s linear infinite;
    animation-play-state: paused;
    filter: saturate(2) blur(10px);
} */

.user:hover .user-img-wrap::after
{
    opacity: 1;
    animation-play-state: running;
}

@keyframes rotate
{
    to
    {
        rotate: 360deg;
    }
}

.user-img
{
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;
}

.user-meta
{
    text-align: center;
}

.user-name
{
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 500;
}

.user-location
{
    font-size: 14px;
    font-size: 0.875rem;
    color: #313134;
    margin-bottom: 1rem;
    line-height: 25px;
}

.user-profiles
{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.letter
{
    color: rgb(30, 30, 224);
}

.expertEvents {
    background: linear-gradient(to right, #fed3bd, #f8474a); 
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
}