.codepathUnits
{
    background: radial-gradient(ellipse, #0000ff80, #0000ffc2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 30px;
    overflow: hidden;
}

.codepathContainer
{
    border: solid 2px #fff;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
}

.codepathContent
{
    padding: 20px;
    display: flex;
    gap: 20px;
    border-bottom: solid 1px #fff;
}

.leftCodePathContent
{
    border-right: solid 1px #fff;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    max-height: 50px;
    text-align: center;
    color: #fff;
}

.rightCodePathContent
{
    border-right: solid 1px #fff;
    padding-right: 25px;
}

.rightContent
{
    display: flex;
    padding-left: 25px;
    color: #fff;
}

.learningContent
{
    padding-left: 30px;
}

.learningContentTitle
{
    border-bottom: solid 1px #fff;
}

@media(max-width: 768px)
{
    .rightContent
    {
        display: flex;
        flex-direction: column;
    }

    .codepathContainer
    {
        padding: 0;
    }

    .rightCodePathContent
    {
        padding-bottom: 20px;
        border: none;
    }

    .learningContent
    {
        border-top: solid 1px #000;
        padding-top: 20px;
    }

    .codepathContent
    {
        gap: 0;
        padding: 10px;
    }
}