*
{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;   
}

/*background here (it is black)*/
body 
{
    overflow-x: hidden;
    /* place-items: center; */
}

/*Applies to all sections*/
section
{
    padding: 25px;
}

.resumeSection
{
    background: radial-gradient(ellipse, #0000ff80, #0000ffc2);
    padding-top: 0;
}

.resumeOuterContainer
{
    display: flex;
    justify-content: center;
}

.resumeInnerContainer
{
    display: flex;
    justify-content: center;
}

.resumeInnerContainer img
{
    width: 100%;
}

.resumeInnerContainer {
    background-color: white;
    padding: 10px;
    border: 1px solid #000;
    transition: transform 1s ease-in-out;
}

.resumeInnerContainer:hover {
    transform: scale(1.03);
}

@media(max-width: 500px)
{
    .resumeInnerContainer img
    {
        width: 100%;
    }
}

.downloadButtonSection
{
    background: radial-gradient(ellipse, #0000ff80, #0000ffc2);
}

.download-btn
{
    background-color: rgb(70, 70, 230);
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 1s ease-in-out;
}

.download-btn:hover 
{
    background-color: rgb(55, 55, 235);
}

.downloadButtonContainer
{
    display: flex;
    justify-content: center;
}

.downloadButton
{
    display: flex;
    justify-content: center;
    text-align: center;
}
